<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <div class="d-flex w-25 align-items-center">
      <img src="/assets/logo.svg" alt="logo" />
      <span class="text-light"> Peliculita.com </span>
    </div>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="offcanvas-body bg-dark">
    <ul class="list-group">
      @for (ruta of rutas; track $index) {
      <li
        class="list-group-item list-group-item-action"
        (click)="offcanvas.dismiss('Cross click')"
        [routerLink]="ruta.path"
      >
        {{ ruta.title }}
      </li>
      }
    </ul>
  </div>
</ng-template>

<button
  class="btn btn-lg btn-outline-primary mb-2 me-2"
  (click)="openNoKeyboard(content)"
>
  <span class="navbar-toggler-icon"></span>
</button>
